/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fancy-font{
    font-family: 'Big Shoulders Stencil Display', cursive;
    letter-spacing: 0.07em;
}

.logo{
    font-family: 'Abril Fatface', cursive;
}

.animate-float{
    animation: float 2s infinite ease-in-out;
}

@keyframes float {
    from, to {
        transform: translateY(-1%);
    }
    50% {
        transform: translateY(1%);
    }
}